mat-card {
  min-width: 200px;
}
mat-icon {
  cursor: pointer;
}
.full-width-input {
  width: 100%;
}
.navigationButton {
  cursor: pointer;
}
.navigationButton:hover {
  color: gray;
}
.logo{
  width:30%;
  height:30%;
}
.formFieldWidth {
  width:45%;
}
