.center {
  text-align: center;
}
p {
  font-size: small;
}
.whiteButton:hover {
  background-color: #dcdcdc;
}
.redButton:hover {
  background-color: #d00000;
}
div {
  text-align: center;
}
img {
  vertical-align: middle;
}
span {
  vertical-align: middle;
}
