<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_box</mat-icon>
      &nbsp;
      <p>{{ 'Account.MyAccount' | translate }}</p>
    </ng-template>
    <div class="center">
      <br />
      <img src="../assets/user.png" class="profilePicture" />
      <h2>{{fullName}}</h2>
      <p>{{'Account.Membership' | translate }} : {{registerDate}}</p>
      <p>{{'Common.MailAdress' | translate }} : {{mail}}</p>
      <p>{{ 'Account.ProductName' | translate }} : Eluvium Extension</p>
      <div style="display:contents">
        <button mat-raised-button class="whiteButton wideButton orangeButton" (click)="manageMyAccount()">
          <mat-icon>account_circle</mat-icon> {{ 'Account.ManageMyAccount' |
          translate }}
        </button>
        <button mat-raised-button (click)="lock()" class="whiteButton wideButton blueButton">
          <mat-icon>lock</mat-icon> {{ 'Account.LockNow' | translate }}
        </button>
      </div>
    </div>
    <div style="text-align: center;">
      <button style="margin-top:3%" mat-raised-button color="warn" class="redButton wideButton" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> {{ 'Account.LogoutNow' | translate }}
      </button>
    </div>
    <br />
    <br />
    <br />
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">devices</mat-icon>
      &nbsp; {{ 'Account.Devices' | translate }}
    </ng-template>
    <div>
      <br />
      <img src="../assets/user.png" class="profilePicture" />
      <h2>{{fullName}}</h2>
      <div>
        <img class="middleAlign" src="../assets/browser.png" /> 
        <span class="middleAlign">&nbsp;
          <img *ngIf="onlineDevice.deviceId === deviceId" src="../assets/online.png" /> &nbsp;
          {{onlineDevice.deviceName}} &nbsp;
          <mat-icon class="redButtonIcon"  (click)="disconnectDevice(onlineDevice.deviceId)" color="warn">logout</mat-icon>
        </span>
      </div>
      <br />
      <br />
    </div>
    <cdk-virtual-scroll-viewport style="height:200px" itemSize="90">
      <div class="viewportAlign" style="display: flex; flex-wrap: wrap; width: 100%;">
        <div style="width:50%;" *ngFor="let item of devices">
          <img *ngIf="item.deviceType === 0" class="middleAlign" src="../assets/browser.png" />
          <img *ngIf="item.deviceType === 1" class="middleAlign" src="../assets/smartphone.png" />
          <img *ngIf="item.deviceType === 2" class="middleAlign" src="../assets/computer.png" />
          <span class="middleAlign">&nbsp;
            {{item.deviceName}} &nbsp;
            <mat-icon class="redButtonIcon" style="margin-top:4%;"
            (click)="disconnectDevice(item.deviceId)" color="warn">logout</mat-icon>
          </span>
        </div>
        <br />
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">devices</mat-icon>
      &nbsp; {{ 'Account.ImportData' | translate }}
    </ng-template>
    <div>
    <br>
      <img src="../assets/logo.png" class="profilePicture" />
      <h3>{{ 'Account.ImportYourPasswords' | translate }}</h3>
    </div>
    <div>
      <button class="browser-button" mat-raised-button (click)="fileInput.click()">
        <img src="../assets/chrome.png" class="browser-icon"/>
        Google Chrome
      </button>
      &nbsp; &nbsp; 
      <button class="browser-button" mat-raised-button (click)="fileInput.click()">
        <img src="../assets/edge.png" class="browser-icon"/>
        Microsoft Edge
      </button>
      <input type="file" accept=".csv" style="display: none;" #fileInput (change)="onFileSelected($event,'other')" />
    </div>
    <br>
    <div>
      <button class="browser-button" mat-raised-button (click)="fileInput.click()">
        <img src="../assets/opera.png" class="browser-icon"/>
        Opera Browser
      </button>
      &nbsp; &nbsp;
      <input type="file" accept=".csv" style="display: none;" #fileInputFirefox (change)="onFileSelected($event,'firefox')" />
      <button class="browser-button" mat-raised-button (click)="fileInputFirefox.click()">
        <img src="../assets/firefox.png" class="browser-icon"/>
        Mozilla Firefox
      </button>
    </div>
    <br>
    <br>
  </mat-tab>
</mat-tab-group>
<app-bottom-nav></app-bottom-nav>