.center {
  text-align: center;
}
p {
  font-size: small;
}
.whiteButton:hover{
  background-color: #DCDCDC;
}
.redButton:hover{
  background-color: #D00000  ;
}
div {
  text-align: center;
}
img {
  vertical-align:middle;
}
span {
  vertical-align:middle;
}
