@import '~@angular/material/theming';

@include mat-core();

$mat-eluvium: (
  50: #2d364c,
  100: #2d364c,
  200: #2d364c,
  300: #2d364c,
  400: #2d364c,
  500: #2d364c,
  600: #2d364c,
  700: #2d364c,
  800: #2d364c,
  900: #2d364c,
  A100: #2d364c,
  A200: #2d364c,
  A400: #2d364c,
  A700: #2d364c,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);


$primary: mat-palette($mat-eluvium);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red, A700);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $primary: mat-palette($mat-pink, 700, 500, 900);
  $accent:  mat-palette($mat-blue-grey, A200, A100, A400);
  $warn:    mat-palette($mat-red, A700);

  $theme:   mat-dark-theme($primary, $accent, $warn);

  @include angular-material-theme($theme);
}

