.center {
  text-align: center;
}

.toggle-switch {
  height: 36px;
  width: 62px;
  display: inline-block;
  position: relative;
  input {
    display: none;
    &:checked + .slider {
      background-color: green;
    }
    &:checked + .slider::after {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
  .slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    transition: 0.5s;
    &::after {
      position: absolute;
      content: '';
      height: 28px;
      width: 28px;
      background-color: white;
      left: 4px;
      bottom: 4px;
      transition: 2s;
    }
  }
}
