<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <img src="../assets/logo.png" style="width:30%;height:30%;">
      <br>
      <h3>  {{ 'Register.RegisterEluvium' | translate }}</h3>
      <br>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="{{ 'Register.FullName' | translate }}" formControlName="fullName" required
            autofocus>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="mail" required>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="{{ 'FirstLogin.Account' | translate }}"
            formControlName="accountPassword" required (input)="accountPassChanged(accountPassword.value)"
            #accountPassword>
        </mat-form-field>
        <section class="example-section" *ngIf="accountPassStrengthVisible">
          <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="accountPassStrength"
            [bufferValue]="bufferValue">
          </mat-progress-bar>
          <div style="position: absolute; padding: 10px; color: white;"> {{accountPassStrengthText}} </div>
        </section>
        <br>
        <button mat-raised-button color="primary" class='right' [disabled]="buttonDisabled">
          <mat-icon class="example-tab-icon">person_add</mat-icon>
          {{ 'Register.Register' | translate }}
        </button>
        <br>
        <br>
        <br>
        <a routerLink="/firstLogin">{{ 'Register.YouHaveAccount' | translate }}</a>
    </form>
  </mat-card-content>
</mat-card>
