.leftAlignedDiv {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 14px;
}
.center {
  text-align: center;
}
input {
  font-size: larger;
}
.smallLogo {
  width: 20%;
  height: 20%;
}

.redButton:hover {
  background-color: #d00000;
  cursor:pointer;
}