.mat-card:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}
.deleteIconColor {
  color: #8b0000;
}
mat-icon:hover {
  color: #3f51b5;
}

mat-tab-group {
  min-width: 500px;
  min-height: 400px;
}

.fabButton {
  float: right;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}
mat-card {
  margin: 5%;
}
.addButtonStyle:hover {
  color: whitesmoke;
}
::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
  padding: 5px !important;
  margin: 5px !important;
}
.wrapper {
  display: grid;
  place-items: center;
}
.inner {
  color: white;
  padding-top: 5%;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  margin-left: 1%;
}
.mat-input-element {
  margin-left: 1% !important;
}
.searchFormField {
  background-color: #f8f8f8 !important;
  width: 100% !important;
  color: black !important;
  padding-top: 1% !important;
}
.imgAlign {
  text-align: center;
  vertical-align: middle;
  margin-top: 10%;
}
