<mat-toolbar color="primary">
  <mat-icon class="navigationButton" (click)="returnResult()"
    >arrow_back</mat-icon
  >
  <span>{{ 'Common.Password' | translate }}</span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #passwordForm="ngForm">
      <div style="text-align: center;">
        <img src="../assets/logo.png" class="logo" />
      </div>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="{{ 'Common.Title' | translate }}"
          formControlName="title"
          required
          autofocus
        />
        <mat-error>
          {{ 'Common.ProvideTitle' | translate }}
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="text"
          formControlName="username"
          placeholder="{{ 'Common.Username' | translate }}"
          required
          #userName
        />
        <mat-error>
          {{ 'Common.ProvideUsername' | translate }}
        </mat-error>
        <mat-icon matSuffix  (click)="copyText(userName.value)">content_copy</mat-icon>
      </mat-form-field>
      <br />
      <mat-form-field class="full-width-input">
        <input
          [type]="hide ? 'password' : 'text'"
          matInput
          formControlName="password"
          placeholder="{{ 'Common.Password' | translate }}"
          required
          #password
        />
        <mat-error>
          {{ 'Common.ProvidePassword' | translate }}
        </mat-error>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-icon matSuffix  (click)="copyText(password.value)">content_copy</mat-icon>
      </mat-form-field>
      <br />
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="text"
          formControlName="url"
          placeholder="{{ 'EditPassword.Name' | translate }}"
          required
        />
        <mat-error>
          {{ 'EditPassword.ProvideName' | translate }}
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="full-width-input">
        <textarea
          matInput
          placeholder="{{ 'Common.Notes' | translate }}"
          formControlName="notes"
        ></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" class="right">
        {{ 'Common.Submit' | translate }}
      </button>
    </form>
    <br />
  </mat-card-content>
</mat-card>
